* {
    padding: 0px;
    margin: 0px;
}

.right-content {
    padding: 30px 30px 10px;
    overflow-y: hidden;
    height: calc(100vh - 72px);

}



.dashboardBoxWrapper {
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    display: flex;
}

.dashboardBoxWrapper .dashboardBox {
    /* background: red; */
    width: 48%;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    /* top: 0px; */

}

.dashboardBoxWrapper .dashboardBox .col1 {
    margin-top: 20px;
    margin-left: 20px;
}

.dashboardBoxWrapper .dashboardBox .icon {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}

.dashboardBoxWrapper .dashboardBox .icon svg {
    font-size: 35px;
    opacity: 0.2;
    color: #000;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
    font-size: 20px;
    font-weight: 600;
}


.dashboardBoxWrapper .dashboardBox .col1 span {
    font-size: 50px !important;
    font-weight: bold;
    line-height: 45px;
}

.dashboardBoxWrapperRow .box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #ccc;

}

.card {
    margin: 0px -11px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.card .hd {
    font-weight: bold;
    color: #403e57;
    font-size: 25px;

}

.cardFilter .col h4 {
    font-weight: 800;
    font-size: 25px;
    text-transform: capitalize;
    color: #403e57;
}


.sticky-header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    /* Đảm bảo phần thẻ thead nằm trên các phần tử khác khi cuộn */
    background-color: #343a40;
    /* Màu nền để tránh phần thead bị trong suốt */
    color: white;
    /* Màu chữ */
}

.table-responsive {
    height: 100%;
}

.table .table-dark th {
    background-color: #9ed8a3 !important;
    border-color: rgb(0, 0, 0);
    font-size: 13px !important;
    text-transform: uppercase;

}

.table tbody td {
    font-size: 13px !important;
    color: #403e57;
    font-weight: 700;
}

.table tbody .actions {
    display: flex;
    justify-content: center;
    /* Đảm bảo các nút button được căn cách nhau ra hai đầu */
}

.actions>button {
    flex: 1;
    /* Căn chỉnh kích thước các button để chúng phù hợp với kích thước của các icon bên trong */
}


.table tbody .actions button {
    min-width: 20px !important;
    width: 20px !important;
    height: 20px !important;
}



.table tbody .actions button svg {
    font-size: 20px !important;

}

table .v-align td {
    vertical-align: middle !important;
}

table td .infor h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

table td .InforBox {
    width: 200px;
}

table td .InforBox .infor {
    width: 100%;
}